<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="agm-map">
        <agm-map [latitude]="lat" [longitude]="lng">
          <ng-container *ngFor="let restaurant of restaurants">
            <agm-marker [latitude]="restaurant.latitude" [longitude]="restaurant.longitude"></agm-marker>
          </ng-container>
        </agm-map>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" #address placeholder="Insert Location for Food!">
      <input type="text" #foodItem placeholder="What are you craving...?">
      <button class="btn btn-primary" (click)="onSearchRestaurants(address.value, foodItem.value)">Get Restraunts in the Area(get)</button>
    </div>
  </div>
  <ng-container *ngFor="let restaurantsEl of restaurants">
    <h1>{{ restaurantsEl.name }}</h1>
    <h3>{{ restaurantsEl.streetAddress }}, {{ restaurantsEl.city }}</h3>  
    <p>-------------------------</p>
  </ng-container>
  
</div>